[submodule "src/ThirdParty/imgui"]
	path = src/ThirdParty/imgui
	url = https://github.com/darkresident55/ModuGUI.git
	branch = docking
[submodule "src/ThirdParty/glfw"]
	path = src/ThirdParty/glfw
	url = https://github.com/TheCherno/glfw.git
[submodule "src/ThirdParty/ImGuizmo"]
	path = src/ThirdParty/ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo.git
[submodule "src/ThirdParty/assimp"]
	path = src/ThirdParty/assimp
	url = https://github.com/assimp/assimp.git
[submodule "src/ThirdParty/PhysX"]
	path = src/ThirdParty/PhysX
	url = https://github.com/NVIDIA-Omniverse/PhysX.git
